<section>
    <footer class="bg-white dark:bg-gray-900">
        <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
            <div class="md:flex md:justify-between">
                <div class="mb-6 md:mb-0">
                    <a href="https://shopify.com" class="flex items-center">
                        <div class="inline-block aspect-square h-5 mr-2">
                            {% render 'image_b', image: section.settings.logo, width: 200 %}
                        </div>
                        <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">{{ section.settings.company }}</span>
                    </a>
                </div>
                <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
                    <div>
                        <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Resources</h2>
                        <ul class="text-gray-600 dark:text-gray-400 font-medium">
                            {% for block in section.blocks %}
                                {% if block.type == 'resource' %}
                                    <li class="mb-4">
                                        <div class="inline-block aspect-square h-5 mr-2">
                                            {% render 'image_b', image: block.settings.image, width: 200 %}
                                        </div>
                                        <a href="{{ block.settings.url }}" class="hover:underline">
                                            {{ block.settings.text }}
                                        </a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                    <div>
                        <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Follow us</h2>
                        <ul class="text-gray-600 dark:text-gray-400 font-medium">
                            {% for block in section.blocks %}
                                {% if block.type == 'social' %}
                                    <li class="mb-4">
                                        <div class="inline-block aspect-square h-5 mr-2">
                                            {% render 'image_b', image: block.settings.image, width: 200 %}
                                        </div>
                                        <a href="{{ block.settings.url }}" class="hover:underline">
                                            {{ block.settings.text }}
                                        </a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                    <div>
                        <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Legal</h2>
                        <ul class="text-gray-600 dark:text-gray-400 font-medium">
                            <li class="mb-4">
                                <a href="#" class="hover:underline">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="#" class="hover:underline">Terms &amp; Conditions</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>


</section>

{% schema %}
{
  "name": "FooterB",
  "blocks": [
    {
      "type": "resource",
      "name": "Resource",
      "settings": [
        {
          "type": "url",
          "id": "url",
          "label": "Url"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Icon"
        }
      ]
    },
    {
      "type": "social",
      "name": "Social",
      "settings": [
        {
          "type": "url",
          "id": "url",
          "label": "Url"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Icon"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "company",
      "label": "Company"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Company Logo"
    }
  ],
  "presets": [
    {
      "name": "FooterB"
    }
  ]
}
{% endschema %}
